html {
    font-size: 20px;
    padding-bottom: 20rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    padding: 1rem 0.5rem;
    background-color: #fff;
    z-index: 10;
    border: 2px solid black;
    border-top: none;
}

#files {
    list-style: none;

    li {
        margin-bottom: 2rem;
    }

    .size, .date {
        display: none;
    }

    img {
        display: inline-block;
        margin: 0 1rem 0 0;
        min-height: 100px;
        max-height: 200px;
        transition: max-height 0.3s;
    }

    li:hover {
        img {
            max-height: 500px;
        }
    }

    .icon-directory {
        font-size: 1.5rem;

        .name:before {
            content: '';
            display: inline-block;
            height: 1em;
            width: 46px;
            background-position: bottom;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('/icons/folder.png');
            position: relative;
            bottom: -5px;
        }
    }
}
